@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
    background-color: aliceblue;
    position: relative;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
}
header{
    background-color: white;
}
.list{
    list-style: none;
    display: flex;
    border-bottom: 1px solid #ddd ;
    width: 100%;
    height: 72px;
    border: 1px solid #255;
    border-collapse: collapse;
    text-align: center;
}
.logo{
    flex : 1 1 15vw;
    // max-width: 15vw;
    width: 15vw;
    height: 15vw;
    
}
img{
  width: 100%;
  height: 72px;
}
.list_item{
    // width: 15%;
    flex:1 1 auto;
    width: calc(100% / 8);
    height: 100%;
    position: relative;
    padding: 1rem;
    border: 1px solid #255; 
    cursor: pointer;
    &:hover{
        background-color: white;
        color: red;
    }
    &:hover .megamenu{
        visibility: visible;
        opacity: 1;
    }
}
.megamenu{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: fit-content;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
    gap: 2rem;
    box-shadow: 0 4px 10px rgb(233, 237, 240);
    z-index: 2;
    & div{
        background-color: rgb(233, 237, 240);
        transition: all 200ms ease;
        align-items: center;
        justify-content: center;
        color: black;
        display: flex;
        height: 200px;
        &:hover{
        background-color:#FF1493;;
    }
    }
}
.news_header{
  font-size: 22px;
  text-align: left;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 40px;
}
.news_side{
    font-size: 15px;
    margin-left: 11px;
    font-weight: normal;
  }
.news_list{
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    padding: 80px;
    
}
.news_center{
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
    padding-right: 40px;
}
.news_status{
    justify-content: space-between;
    display: flex;
    font-family:'Malgun Gothic';
    font-size: 12px;
    font-weight: initial;
    color: rgb(0, 174, 152);
    
    .icon{
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;

    }
}
.news_thumb{
    align-items: center;
    figure{
    width: 100%;
    aspect-ratio: 16/9;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
}
.news_main{
    color: #255;
    &:hover{
        color: red;
        cursor: pointer;
    }
}
.main_news{
    border-bottom: 1px solid rgb(255, 204, 255)

}
.news_bottom{
    width: 188px;
    height: 35px;
    display: flex;
    text-decoration: none;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    &:hover{
        color: red;
        background-color: white;
        cursor: pointer;
        transition: all 0.5s linear;
        border: 2px solid red;
    }
}
.banner{
    align-items: center;
    position: relative;
    figure{
        width: 100%;
        height: 140px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .banner_text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white
    }
}
.software_head{
    font-size: 22px;
  text-align: left;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 40px;
}
.softwar_side{
    font-size: 15px;
    margin-left: 11px;
    font-weight: normal;
}
.software_list{
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    padding: 80px;
}
.software_center{
    display: grid;
    gap: 2rem;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 40px;
    padding-right: 40px;
}
.software_status{
    justify-content: space-between;
    display: flex;
    font-family:'Malgun Gothic';
    font-size: 12px;
    font-weight: initial;
    color: rgb(0, 174, 152);
    
    .icon{
        display: inline-flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;
        figure{
            width: 100%;
            height: 100%;
            img{
                width: 34px;
                height: 39px;
            }
        }
    }
}
.software_thumb{
    align-items: center;
    figure{
    width: 100%;
    aspect-ratio: 16/9;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
}
.software_main{
    color: #255;
    margin-bottom: 40px;
    &:hover{
        color: red;
        cursor: pointer;
    }
}
.main_soft{
    border-bottom: 1px solid rgb(255, 204, 255);
}
.software_bottom{
    width: 188px;
    height: 35px;
    display: flex;
    text-decoration: none;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    &:hover{
        color: red;
        background-color: white;
        cursor: pointer;
        transition: all 0.5s linear;
        border: 2px solid red;
    }
}
.software_banner{

    justify-content: space-between;
    position: relative;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);
    padding-left: 40px;
    padding-right: 40px;
    overflow: hidden;
    .banner_list1{
        align-items: center;
        margin: 20px 10px;
        display: flex;
        flex-direction: row-reverse;
        .bannerpicture{
            width: 100%;
            height: 100%;
            align-items: center;
            a{
                width: 100%;
                height: 100%;
            }
            figure{
                width: 100%;
                height: 100%;
                aspect-ratio: 16/9;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .write{
            color: white;
            width: 30%;
            height: 100%;
            background-color: red;
            font-family: 'Malgun Gothic';
            .letters{
                font-size: 17px;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-weight: bolder;
            }
        }
    }
}
.e_shop{
    width: 100%;
    text-decoration: none;
    .e_head{
        font-size: 22px;
        text-align: center;
        font-family: 'Malgun Gothic';
        justify-content: center;
        list-style: none;
    }
    .e_list{
        padding: 20px;
        list-style: none;
        display: grid;
        align-items: center;
        height: 150px;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .e_item{
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        border: 1px solid #255;
        justify-content: center;
        a{
            text-decoration: none;
        }
    }
    .wr{
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }
}
.guide{
    border-top: 1px solid #8c8c8c;
    padding: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    .head{
        font-size: 18px;
        color: #8c8c8c;
        padding-right: 20px;
        border-right: 1px solid #8c8c8c;
    }
    .main{
        font-size: 15px;
        color: #8c8c8c;
        margin-left: 20px;
    }
}
.navi{
    background-color: rgb(255, 0, 0);
    height: 47px;
    .navi_logo{
        position: relative;
        height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        figure{
            width: 15%;
            height: 100%;
            img{
            height: 100%;
            width: 10vw;    
            }
        }
        .btn_gotoTop{
            content: "";
            align-items: center;
            justify-content: flex-end;
            width: 25px;
            height: 25px;
            border: 2px solid #fff;
            border-radius: 15px;
        }
    }
    
}
.inner{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    .link{
        display: flex;
        gap: 2rem;
        .sns{
            display: flex;
            gap: 2rem;
        }

        li{
            width: 60px;
            height: 60px;
            list-style-type: none;
        }
    }
    
    .btnBox{
        display: flex;
        width: 370px;
        height: 60px;
        gap: 2rem;
        a{
            display: flex;
        }
    }
}
.bottom_nav{
    text-align: center;
    margin: 20px 40px;
    ul{
        display: flex;
        justify-content: space-around;
        
        .kor{
            border-top: 2px solid red;
            list-style: none;
            .kor_head{
                text-align: center;
                font-size: 16px;
                font-family: 'Malgun Gothic';
                font-weight: bolder;
                text-decoration: none;
                color: black;
            }
            .kor_nin{
                padding-top: 10px;
                display: grid;
                font-size: 13px;
                font-weight: normal;
                a{
                text-decoration: none;
                color: #8c8c8c;
                }
            }

        }
        .main_body{
            border-top: 2px solid red;
            list-style: none;
            .bon_head{
                font-size: 16px;
                font-family: 'Malgun Gothic';
                font-weight: bolder;
                text-decoration: none;
                color: black;
            }
            .bonche{
                padding-top: 10px;
                display: grid;
                font-size: 13px;
                font-weight: normal;
                a{
                text-decoration: none;
                color: #8c8c8c;
            }
        }
    }
        .software{
            border-top: 2px solid red;
            list-style: none;
            .soft_head{
                font-size: 16px;
                font-family: 'Malgun Gothic';
                font-weight: bolder;
                text-decoration: none;
                color: black;
            }
            .soft{
                padding-top: 10px;
                display: grid;
                font-size: 13px;
                font-weight: normal;
                a{
                text-decoration: none;
                color: #8c8c8c;
                }
            }
        }
        .support_kor{
            border-top: 2px solid red;
            list-style: none;
            .support_head{
                font-size: 16px;
                font-family: 'Malgun Gothic';
                font-weight: bolder;
                text-decoration: none;
                color: black;
            }
            .support{
                padding-top: 10px;
                display: grid;
                font-size: 13px;
                font-weight: normal;
                a{
                text-decoration: none;
                color: #8c8c8c;
                }
            }
        }
    }
}
.inners{
    display: flex;
    flex-direction: column;
    .btnTerms{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        
        .Terms{
            font-size: 14px;
            text-decoration: none;
            color: #8c8c8c;
            border-right: 1px solid #8c8c8c;
            height: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .Privacy{
            font-size: 14px;
            font-weight: bolder;
            text-decoration: none;
            margin-left: 20px;
            color: black;
        }
    }
    .write{
        grid-template-rows: repeat(2, 1fr);
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #8c8c8c;
        padding-left: 20px;
        p{
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            .bl{

                margin-top: 10px;
                text-align: right;
            }
        }
        address{
            display: flex;
            flex-direction: column;
        }
}
}
// .swiper{
//   width: 100%;
//   height: 100%;
// }
// .swiper-slide{
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// body {
//   background: #000;
//   color: #000;
// }

// .swiper {
//   width: 100%;
//   height: 300px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .swiper-slide {
//   background-size: cover;
//   background-position: center;
// }

// .mySwiper2 {
//   height: 80%;
//   width: 100%;
// }

// .mySwiper {
//   height: 20%;
//   box-sizing: border-box;
//   padding: 10px 0;
// }

// .mySwiper .swiper-slide {
//   width: 25%;
//   height: 100%;
//   opacity: 0.4;
// }

// .mySwiper .swiper-slide-thumb-active {
//   opacity: 1;
// }

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }